<main>

    <section class="container" style="padding: 5rem; background-color: #fff">

        <h2 style="font-size: 26px; font-weight: bold;">团队模式工作——前端</h2>

        <h3 class="mt-3" style="font-size: 22px;">本模式进度</h3>

        <div class="progress">
            <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" style="width:50%">50%</div>
        </div>

        <h3 class="mt-3" style="font-size: 22px;">当前状态：等待设计人员完成设计</h3>

        <button class="btn btn-info mt-3">完成</button>

    </section>
</main>