<style>
@font-face {
    font-family: 'iconfont';
    src: url('iconfont.eot');
    src: url('iconfont.eot?#iefix') format('embedded-opentype'),
        url('iconfont.woff2') format('woff2'),
        url('iconfont.woff') format('woff'),
        url('iconfont.ttf') format('truetype'),
        url('iconfont.svg#iconfont') format('svg');
  }
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 30px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .hide{
      display: none;
  }

</style>
  
<main class="" style="margin-top: 6rem!important;">

    <section class="container p-2 px-4">
        <h2 class=" text-center" style="font-weight: bold; ">项目流程体验平台</h2>

        <h3 class="mt-5" style=" position: relative; font-size: 24px;">
            <span class="px-2 bg-white" style="font-weight: bold;">项目背景</span>
            <span class="" style="position: absolute; top: 15px; right: 0; width: 90%; height: 2px; background-color: rgb(234,234,234); z-index: -1;"></span>
        </h3>
        <div >
            <p class=" rounded" style="text-indent: 2em; background-color: rgb(240,245,250);">目前，在许多高校里，很多同学都想参加各种各样的比赛，如“互联网+”大学生创新创业大赛、“挑战杯”全国大学生课外学术科技作品赛、全国大学生电子设计竞赛等，但由于许多学生没有项目经验，对项目开发流程不了解，致使他们望而却步，使越来越多的学生在大学期间对所学的知识感到迷茫，让学生不确定自己学习的东西在未来会不会有用处，对自己会不会有帮助，最终影响学习积极性。</p>
        </div>
      

        <h3 class="mt-5" style=" position: relative;sition: relative; font-size: 24px;">
            <span class="px-2 bg-white" style="font-weight: bold;">相关介绍</span>
            <span class="" style="position: absolute; top: 15px; right: 0; width: 90%; height: 2px; background-color: rgb(234,234,234); z-index: -1;"></span>
        </h3>
        <div class=" mt-3 px-4 rounded" style="background-color: rgb(240,245,250);">
            <p>前端：<span style="font-weight: bold">bootstrap4 + ejs</span>    </p>
            <p>后台：<span style="font-weight: bold">sails.js + mongodb</span>  </p>
            <p >页面设计：<span style="font-weight: bold">ps</span> </p>
        </div>
        <h3 class="mt-5" style=" position: relative; font-size: 24px;">
            <span class="px-2 bg-white" style="font-weight: bold;">项目顺序</span>
            <span class="" style="position: absolute; top: 15px; right: 0; width: 90%; height: 2px; background-color: rgb(234,234,234); z-index: -1;"></span>
        </h3>
        <p class=" rounded" style="text-indent: 2em; background-color: rgb(240,245,250);">依次完成以下模式方可完成项目体验</p>
        <div class=" mt-3 row justify-content-md-center">
            <div class="col col-lg-3">
                <div class="border rounded-circle" style="margin: 20px auto; width: 200px; height: 200px;">
                    <div class="text-center" style="margin: 85px auto 0; width: 100px;">观看模式</div>
                </div>
                <a class="btn btn-info w-100" href="/view">以此模式开始</a>
            </div>
            <div class="col col-lg-1"><div class="text-center" style="margin-top: 80px; font-size: 50px; font-family: '宋体'">&gt;&gt;</div></div>
            <div class="col-md-3">
                <div class="border rounded-circle" style="margin: 20px auto; width: 200px; height: 200px;">
                    <div class="text-center" style="margin: 85px auto 0; width: 100px;"></span>个人模式</div>
                </div>
                <button class="btn btn-info w-100 disabled">以此模式开始</button>
            </div>
            <div class="col col-lg-1"><div class="text-center" style="margin-top: 80px; font-size: 50px; font-family: '宋体'">&gt;&gt;</div></div>
            <div class="col col-lg-3">
                <div class="border rounded-circle" style="margin: 20px auto; width: 200px; height: 200px;">
                    <div class="text-center" style="margin: 85px auto 0; width: 100px;">团队模式</div>
                </div>
                <button class="btn btn-info w-100 disabled">以此模式开始</button>
            </div>
          </div>
    </section>

</main>

<script>

$(()=>{
    $(window).resize(()=>{
    //  console.log($(window).width())
      if($(window).width() < 800){
        $('.row .col-lg-1').addClass('hide')
      }
      else{
        $('.row .col-lg-1').removeClass('hide')
      }
    })
    
    
  })

</script>