<main style="margin-top:6rem!important;">

  <!-- 这里是卡片 -->
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">

        <div class="col-md-4">
          <div class="card mb-4 shadow">
            <img src="/images/left.png" alt="" class="card-img-top bd-placeholder-img" height="225px">
            <div class="card-body">
              <p class="card-text">项目流程体验平台</p>
              <p class="card-text">这里是关于项目的一些简介这里是关于项目的一些简介这里是关于项目的一些简介</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">查看</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">体验</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow">
            <img src="/images/left.png" alt="" class="card-img-top bd-placeholder-img" height="225px">
            <div class="card-body">
              <p class="card-text">项目流程体验平台</p>
              <p class="card-text">这里是关于项目的一些简介这里是关于项目的一些简介这里是关于项目的一些简介</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">查看</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">体验</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow">
            <img src="/images/left.png" alt="" class="card-img-top bd-placeholder-img" height="225px">
            <div class="card-body">
              <p class="card-text">项目流程体验平台</p>
              <p class="card-text">这里是关于项目的一些简介这里是关于项目的一些简介这里是关于项目的一些简介</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">查看</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">体验</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow">
            <img src="/images/left.png" alt="" class="card-img-top bd-placeholder-img" height="225px">
            <div class="card-body">
              <p class="card-text">项目流程体验平台</p>
              <p class="card-text">这里是关于项目的一些简介这里是关于项目的一些简介这里是关于项目的一些简介</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">查看</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">体验</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow">
            <img src="/images/left.png" alt="" class="card-img-top bd-placeholder-img" height="225px">
            <div class="card-body">
              <p class="card-text">项目流程体验平台</p>
              <p class="card-text">这里是关于项目的一些简介这里是关于项目的一些简介这里是关于项目的一些简介</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">查看</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">体验</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow">
            <img src="/images/left.png" alt="" class="card-img-top bd-placeholder-img" height="225px">
            <div class="card-body">
              <p class="card-text">项目流程体验平台</p>
              <p class="card-text">这里是关于项目的一些简介这里是关于项目的一些简介这里是关于项目的一些简介</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">查看</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">体验</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow shadow-lg">
            <img src="/images/left.png" alt="" class="card-img-top bd-placeholder-img" height="225px">
            <div class="card-body">
              <p class="card-text">项目流程体验平台</p>
              <p class="card-text">这里是关于项目的一些简介这里是关于项目的一些简介这里是关于项目的一些简介</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">查看</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">体验</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</main>

<script>
    $(()=>{
      $('.col-md-4 card')
    });
</script>