<main class="" style="margin-top: 6rem!important;">

    <section class="container p-2 px-4">
        <h2 class=" text-center" style="font-weight: bold; ">项目体验平台项目</h2>

        <h3 class="mt-3" style=" border-bottom: 3px #ddd solid; font-size: 24px;"><span class="px-2 bg-info">项目背景</span></h3>
        <p class=" rounded" style="text-indent: 2em; background-color: rgb(240,245,250);">目前，在许多高校里，很多同学都想参加各种各样的比赛，如“互联网+”大学生创新创业大赛、“挑战杯”全国大学生课外学术科技作品赛、全国大学生电子设计竞赛等，但由于许多学生没有项目经验，对项目开发流程不了解，致使他们望而却步，使越来越多的学生在大学期间对所学的知识感到迷茫，让学生不确定自己学习的东西在未来会不会有用处，对自己会不会有帮助，最终影响学习积极性。</p>

        <h3 class="mt-3" style=" border-bottom: 3px #ddd solid; font-size: 24px;"><span class="px-2 bg-info">项目相关介绍</span></h3>
        <div class=" mt-3 px-4 rounded" style="background-color: rgb(240,245,250);">
            <p>前端：</p>
            <p>后台：</p>
            <p>页面设计：</p>
        </div>

        <h3 class="mt-3" style=" border-bottom: 3px #ddd solid; font-size: 24px;"><span class="px-2 bg-info">项目顺序</span></h3>

        <div class="mt-3 pt-2 pb-5 px-4 rounded" style="background-color: rgb(240,245,250);>
            <p style="font-size: 24px;">观看模式</p>
            <p class="">将项目所有的节点按顺序出现，体验这点击即可查看</p>
            <button class="btn btn-info float-right">以此模式开始</button>
        </div>
        <div class=" mt-3 pt-2 pb-5 px-4 rounded" style="background-color: rgb(240,245,250);>
            <p style="font-size: 24px;">个人模式</p>
            <p class="">第一人称体验,自己选专业  或项目成员的角色</p>
            <button class="btn btn-info float-right disabled">以此模式开始</button>
        </div>
        <div class=" mt-3 pt-2 pb-5 px-4 rounded" style="background-color: rgb(240,245,250);>
            <p style="font-size: 24px;">团队模式</p>
            <p class="">
                相当于是把这个项目的 简单化 成无数个块无数个小demo分给他们不同的选择的人去完成完成了才能继续
            </p>
            <button class="btn btn-info float-right disabled">以此模式开始</button>
        </div>

    </section>

</main>