<main class="" style="margin-top: 5rem!important;">
    <section class=" container">
        <h2 class="" style="font-size: 26px; font-weight: bold;">观看模式</h2>
        <p class="" style="font-size: 20px;">在观看模式下，我们将展示项目的各个阶段，让您把控全局，点击数字即可查看对应步骤文本内容。</p>
        
        <div class="row" style="margin-top: 70px;">
            <div class="col col-3 my-5" style="font-size: 40px; font-weight: bold;"><a href="#" data-toggle="popover" title="第一步：页面设计" data-content="页面设计，数据库设计，API设计是本项目的基础性工作，数据库设计和API设计在页面设计好后进行思路会更加清晰，所以将页面设计作为所有步骤的第一步。这一步中，需要根据需求，设计出每个页面的样子，尽量做到精确，注重细节。页面设计的质量对于后面的每一步都至关重要，是最基础性工程，后面的API设计，数据库设计，前后端代码编写都会根据页面设计作为参考，所以必须多花时间，全队共同参与，积极讨论，为后面的工作做好准备。">1</a>
            </div>
            <div class="col  col-3 my-5" style="font-size: 40px; font-weight: bold;"><a href="#" data-toggle="popover" title="第二步：API设计" data-content="API设计和数据库设计均可作为第二步。API就是应用程序接口，为了实现很好的前后端分离，就必须设计好API，这样可以使得开发效率大大提高，前后端商量设计好之后，各自开工开始编码，前端只需要后端人员提供相应接口就可以实现页面的动态更新。">2</a></div>
            <div class="col col-3 my-5" style="font-size: 40px; font-weight: bold;"><a href="#" data-toggle="popover" title="第三步：数据库设计" data-content="任何一个项目，做出的产品都是需要存储大量的信息的，所以选择和自己项目需求相对应的数据库管理工具之后，可以开始着手数据库的设计，这依然是一个非常系统，需要大量关于数据库的知识的工程，之后设计好了一个高效，无错误的数据库系统，才能为后面的工作打好基础。数据库设计的特点之一是：3分技术，7分管理，12分基础数据。所以技术固然重要，但是管理和后面的工作才是重点，起初的设计就需要为后面的管理和数据处理做好准备。">3</a></div>
            <div class="col col-3 my-5" style="font-size: 40px; font-weight: bold;"><a href="#" data-toggle="popover" title="第五步：代码实现" data-content="在初学者许多人看来，这是最重要的一步，但其实是最大原因是因为他们只知道有这一步。这一步中，需要完成的是前端代码的编写，本项目最好有两人共同合作，在前端开发中使用bootstrap，Vue等工具会使效率大大提高；和前端实现同时进行的是后端代码和数据库的实现，本项目需要2到3人完成，和前端一样，也有许多UI框架选择，根据不同的后面开发语言工具，有想对应的框架。">4</a></div>
            <div class="col col-3 my-5" style="font-size: 40px; font-weight: bold;"><a href="#" data-toggle="popover" title="第五步：测试" data-content="这一步也是十分重要的，测试往往可以找出许多错误，是一个项目升华的过程，通过测试后的改正和版本升级，可以是项目功能更加完善，操作更人性化，更能吸引用户。">5</a></div>
            <div class="col col-3 my-5" style="font-size: 40px; font-weight: bold;"><a href="#" data-toggle="popover" title="第六步：最终完成开发" data-content="这一步其实就是针对各个细节进行完善的过程，改成测试出的错误，对不好的细节进行处理，最终得好一个完整的项目。">6</a></div>
            <div class="col col-3 my-5" style="font-size: 40px; font-weight: bold;"><a href="#" data-toggle="popover" title="总结" data-content="。。。。。。">7</a></div>
        </div>
        <p class="" style="margin-top: 70px;">观看模式下，你已经对大致。。。。。。。可以开始下一模式，你将。。。。。。</p>
        <button class="btn btn-info">开始下一模式</button>
    </section>
</main>
<script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover();   
    });
</script>